## Historical Urban Population

In [1]:
import pandas as pd

histurban = pd.read_csv("data/urban/urbanpop.csv")

histurban

,Record,City,OtherName,Country,Latitude,Longitude,Certainty,year,pop,cityid
0,1,Eridu,NaN,Iraq,30.815838,45.996070,1,-3700,6000,Eridu_30.8_46
1,2,Eridu,NaN,Iraq,30.815838,45.996070,1,-3500,10000,Eridu_30.8_46
2,3,Larak,Kesh,Iraq,32.312738,45.660998,1,-3500,10000,Larak_32.3_45.7
3,4,Uruk,Erech,Iraq,31.322222,45.636111,1,-3500,14000,Uruk_31.3_45.6
4,5,Anshan,NaN,Iran,30.012020,52.408577,1,-3300,10000,Anshan_30_52.4
...,...,...,...,...,...,...,...,...,...,...
10347,10348,Zaozhuang,NaN,China,34.866700,117.550000,2,2000,1793000,Zaozhuang_34.9_117.5
10348,10349,Zhanjiang,NaN,China,21.200000,110.400000,1,2000,1399000,Zhanjiang_21.2_110.4
10349,10350,Zhongshan,NaN,China,22.517646,113.392782,1,2000,1237000,Zhongshan_22.5_113.4
10350,10351,Zhucheng,NaN,China,36.010000,119.416700,1,2000,1039000,Zhucheng_36_119.4
10351,10352,Zibo,NaN,China,36.790560,118.063330,1,2000,2484000,Zibo_36.8_118.1